{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h3 class="round3" style="text-align:center;">Passing Stats</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12" style="text-align:center;">
            <a href="/pass/search/">Search</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-xs-11 col-sm-11"></div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <br />
            <a href="{% url 'add_passer' %}">
                <button type="button" class="btn btn-success">
                    Add
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <ul class="list-group">

                <li class="list-group-item ">
                    <b>Name</b> <span class="badge"></span>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>Week</b>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>Team</b>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>Comp/Att</b>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>Yards</b>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>TD</b>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>INT</b>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    <b>Fantasy Pts</b>
                </li>
            </ul>
            <br>
        </div>
    </div>
    {% for passer in passer_list %}
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-2 col-xs-2 col-sm-2">
            <ul class="list-group">

                <li class="list-group-item ">
                    {{ passer.player }}<span class="badge"></span>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    Week {{ passer.week }}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    {{ passer.team }}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    {{ passer.comp }}/{{passer.att}}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    {{ passer.yds }}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    {{ passer.tds }}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    {{ passer.ints }}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <ul class="list-group">
                <li class="list-group-item ">
                    {{ passer.fantasyPts }}
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-1">
            <a href="{% url 'edit_passer' passer.pk %}">
                <button type="button" class="btn btn-info">
                    Edit</span>
                </button>
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'delete_passer' passer.pk %}">
                <button type="button" class="btn btn-danger">
                    Delete</span>
                </button>
            </a>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}